:root {
    --primary: #e50914
}

body {
    background-color: rgba(0, 0, 0);
    color: white;
    padding: 0;
    margin: 0;
    overflow-x: none
}

.container {
    padding: 0 7.5em;
    display: block
}

.bottom-line {
    border-bottom: 8px solid #222;
    padding: 2em 0;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0
}

p {
    font-size: 1.2em;
}

.btn {
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer
}

.btn-primary {
    background-color: var(--primary);
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-sm {
    height: 35px;
    width: 20%;
    max-width: 88px;
}

.btn-lg {
    width: 17em;
    height: 40px;
    padding: 1.5px 2px 1.5px 2px;
    font-size: 1em;
}

.btn-md {
    width: 60%;
    height: 40px;
    padding: 1.5px 2px 1.5px 2px;
    font-size: 1.1em;
}

.container {
    padding: 0 0.2em;
}

.story {
    width: 100%;
    margin-top: 0;
    text-align: center;
}

.story-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 0;
    text-align: center;
}

.story-container img {
    margin-bottom: 0;
    width: 100%;
}

/* LANDING START */

.landing nav {
    padding: 0 0.2em;
}

.landing nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 .7em;
}

.landing {
    height: 70vh;
}

.landing h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2.3em;
    color: var(--primary)
}

.landing .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* LANDING END */

/* BILLING START */

.billing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-container {
    width: 90%;
}

.timeline-container .labels {
    display: flex;
    width: 100%;
    margin-top: 1em;
}

.labels h2 {
    font-size: 1.4em;
}

.billing .description {
    margin: 2em 1em 1em 1em;
    padding: 0 0 0 0.7em
}

.billing .description p {
    margin: 0;
    display: inline
}

.billing .labels p {
    font-size: 1em
}

#free30 {
    flex-grow: 1;
    color: green;
    flex-basis: 32%;
    align-self: flex-end;
}

#first-bill {
    flex-grow: 6;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#last-date {
    flex-grow: 3;
    flex-basis: 32%;
    align-self: flex-end;
    text-align: right
}

#first-bill h2 {
    color: lightgrey;
    font-size: 1.2em
}

.three-day-reminder p {
    margin: 0
}

/* BILLING END */

/* FAQ START  */

.faq-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em 0 1em 0;
}

.faq-container .title {
    margin: .7em;
    text-align: center
}

.faq-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: #222;
    padding: 1.3em;
    margin-bottom: .7em;
}

.faq-item p {
    margin: 0;
}

.faq-container button {
    margin-top: 2em
}

/* FAQ END  */

.contact-container {
    padding-left: 1.5em;
    padding-bottom: .4em
}

.contact-container .lists {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start
}

.contact-container p {
    font-size: .5em;
}

.contact-container .call {
    font-size: 18px;
}

.contact-container ul {
    list-style: none;
    padding: 0;
    flex-basis: 50%;
}

.contact-container ul li {
    margin: .5em
}

.contact-container .lists {
    display: flex;
    justify-content: space-between
}

.english-btn button {
    width: 7em;
    padding: .1em;
}

@media(min-width: 425px) {
    .landing nav {
        padding: 0 .7em;
    }
    .container {
        padding: 0 .7em;
    }
    .hide-mobile {
        display: none;
    }
}

@media(min-width: 768px) {
    .landing {
        height: 60vh;
    }
    .landing nav {
        padding: 0 1.4em;
    }
    .container {
        padding: 0 1.4em;
    }
    .bottom-line {
        padding: 4.7em 2.3em
    }
    .story-container img {
        margin-bottom: 0;
        width: 93%;
    }
    
}

@media(min-width: 1024px) {
    h2 {
        font-size: 3.43em;
    }
    p {
        font-size: 1.9em;
    }
  
    .btn-lg {
        width: 26.5em;
        height: 60px;
        padding: 5.6px 20px 5.6px 20px;
        font-size: 1.7em;
        max-width: 425px;
    }
    .btn-md {
        width: 60%;
        height: 40px;
        padding: 1.5px 2px 1.5px 2px;
        font-size: 1.1em;
    }
    .bottom-line {
        padding: 4.345em 2em
    }
    .billing .description {
        width: 65%;
        text-align: center;
        margin: 3em;
    }
    .billing .labels p {
        font-size: 1.5em
    }
    #first-bill h2 {
        color: lightgrey;
        font-size: 1.8em
    }
    .story-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0;
    }
    .story-container-reverse {
        flex-direction: row;
    }
    .story {
        width: 85%;
        margin-top: 2.4em;
        text-align: left;
        padding-right: 2.4em
    }
    .story-container-reverse .story {
        padding-left: 2.4em
    }
    .story-container img {
        min-height: 336px;
        width: 100%
    }
    .hide-mobile {
        display: inherit;
    }
    .contact-container ul {
        list-style: none;
        padding: 0;
        flex-basis: 20%;
    }
    .contact-container {
        padding: 2em 4em;
    }
    .faq-item {
        width: 60%;
        background-color: #222;
    }
}

@media(min-width: 1100px) {
    .container {
        padding: 0 5.5em;
    }
    .story {
        width: 65%;
        margin-top: 2.4em;
        text-align: left;
        padding-right: 2.4em
    }
}